{% extends 'base.html' %}

{% block title %}YJ's{% endblock %}

{% block header %}ToDo Lists{% endblock %}

{% block content %}
{% if form %}
<form method="post">
	{{ form.hidden_tag() }}
	<table class="t_form">
	<td class="fbody">{{ form.taskname.label }} {{form.taskname}}</td>
	<td class="fbody">{{ form.due_date.label }} {{form.due_date}}</td>
	<td class="fbody">{{ form.submit }}</td>
	</table>
</form>
{% endif %}
<table class="task">
	<tr>
		<th class="t_header">ID</th>
		<th class="t_header">タスク名</th>
		<th class="t_header">作成日時</th>
		<th class="t_header">締切日時</th>
	</tr>
{% for task in tasks %}
	<tr>
		<td class="t_id">{{task.id}}| <a href="{{ url_for('task.delete_task',id=task.id)}}">削除</a></td>
		<td class="t_body">{{task.taskname}}</td>
		<td class="t_body">{{task.created_at.strftime('%Y/%m/%d %H:%M:%S')}}</td>
		<td class="t_body">{{task.due_date.strftime('%Y/%m/%d') }}</td>
	</tr>	
{% endfor %}
</table>
{% endblock %}