@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

html {
  font-family: "Archivo Black","Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.t_form{
	width:100%;
}
input{
	height:2em;
	font-size:1.2em;
}
#submit{
	font-size:1.2em;
	font-weight:bold;
}
#btn{
	font-size:1.2em;
	font-weight:600;
	padding:5px;
	border:1px solid #aaaaaa;
	margin:10px;
}
.wrap{
	display:flex;
}
.sidebar{
	border-right:3px double #aaaaaa;
	width:200px;
	text-align:center;
	padding:5px 20px 5px 20px;
	.globalnav{
		border:1px solid #aacccc;
		border-radius: 3px;
		padding:5px;
		.welcome{
			font-size:1.2em;
			padding:2px;
			border-top:1px solid black;
			border-bottom:1px solid black;
		}
	}
	.nav_caption{
		margin:2px;
		font-size:1.5em;
	}
	ul{
		margin:5px;
		padding:5px 20px;
		font-size:1.2em;
		text-align: left;


	}
	li{
		list-style: none;
		padding:5px;
	}
	li:hover{
		background:#aaccff;
		border-radius: 2px;
		box-shadow:10px 5px 5px #aacccc;
	}
	a{
		color:#acacac;

	}
	a:hover{
		color:red;
	}
}
.content{
	width:75%;
	margin:5px 10px;
}
.error{
	background:#ffdddd;
	padding:10px;
	border:1px solid #ffaaaa;
}
.success{
	background:#ddddff;
	padding:10px;
	border:1px solid #aaaaff;
}
.caption{
	margin:0px;
	padding:10px;
	text-align:center;
	font-size:3em;
	font-weight:600;
}
.item{
	width:800px;
	margin:auto;
	padding:20px;
}

.task{
	width:100%;
	td{
		height:1.5em;
	}
	.t_header{
		background:black;
		color:white;
	}
	.t_id{
		background:black;
		color:white;
		text-align:center;
		a{
			color:white;
		}
		a:hover{;
			color:red;
	}
}








